<launch>
  <arg name="calibration_file" default="$(find visual_servoing)/calibrationdata/ost.yaml"/>

  <!-- <node
    pkg="visual_servoing"
    type="webcam_pub.py"
    name="webcam_pub"
    output="screen"
  /> -->
  <param name="calibration_file" value="$(arg calibration_file)" />

  <node pkg="visual_servoing" type="webcam_sub.py" name="webcam_sub" output="screen">
  </node>

</launch>
