<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>

  <!-- Import Pose Estimation package -->
  <!-- <include file="$(find aruco_detect)/launch/aruco_detect.launch">
    <arg name="camera" value="/t265/stereo_ir/left/fisheye_image_raw/compressed"/>
  </include> -->

  <!-- START SIMULATION -->
  <arg name="x_pos" default="0.0"/>
  <arg name="y_pos" default="0.0"/>
  <arg name="z_pos" default="0.0"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find visual_servoing)/worlds/my_workspace.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <!-- END SIMULATION -->

  <node pkg="visual_servoing" type="detect_marker.py" name="detect_marker" output="screen" />

</launch>
