<launch>
  <!-- Arguments -->
  <!-- <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/> -->


  <!-- Import Pose Estimation package for Robot -->
  <include file="$(find visual_servoing)/launch/pose_estimation.launch">
    <arg name="calibration_file" value="$(find visual_servoing)/calibration_data/ost.yaml"/>
    <!-- <arg name="camera" value="/t265/stereo_ir/left/fisheye_image_raw"/> -->
    <arg name="camera" value="/camera/image_raw"/>

  </include>

</launch>

